<form  [formGroup]="bookedticketForm" #usersForm="ngForm" (ngSubmit)="getBookedTicketFormData(usersForm.value)">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="bg-white rounded-lg shadow-sm p-5">
            <div class="card-body">
            
                
                
                <label for="seats"><b>Seats:</b></label>
                <input type="text" name="seats" formControlName="seats"  name="seats" class="form-control" required placeholder="Enter Number of Seats"/>
                <!-- <input type="text" formControlName="seats"  name="seats" class="form-control" required placeholder=""/> -->
                
                <br>
                <span style="color: red; margin-left: 35%;">Enter Seats from 1 to 10</span>
                <br>
                
                <!-- <label for="amount">Total Amount:</label>
              
               <input type="text" id="out2x" name="amount" reqired placeholder=""> -->


               <button type="button"  class="subscribe btn btn-success btn-block  shadow-sm" style="margin-left: 38%;">Proceed to Pay</button>
            </div>
        </div>
        </div>
    </div>
</div>
</form>